* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Shared styles */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

/* Main styles */
#header {
    background-color: #FFF8F3;
    padding-top: 50px;
    background-image: url(images/developer.png), url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: left top, right bottom ;
    height: 837px;
}
nav {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;  
    justify-content: space-between;
}

nav #logo h2{
    font-family: sans-serif;
    font-size: 45px;
    font-weight: 900;
}

.color-orange {
    color: #FD6E0A;

}
.menu{
    list-style: none;
    display: flex;
    gap: 51px;
    align-items: center;
}

.menu li a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #474747;
}
#benar{
    margin: 46px 38px 0 230px;
    display: flex;
    align-items: center;
    justify-content: center; 
} 
.benar-content{
    font-size: 45px;
    font-weight: 600 ;
    color: #474747;
    margin-bottom: 5px;
}

.benar-name{
    font-size: 85px;
    font-weight: bold;
    color:  #181818;
    margin-bottom: 20px;
}

.paragroph{
    width: 585px;
    height: 60px;
    font-size: 18px;
    /* font-weight: regular; */
    color: #474747;
    margin-bottom: 30px;
    line-height: 30px;

}
.divsection{
    width: 585px;
    
}
.benar-img{
    height: 584px;
    vertical-align: middle;
}
 #outer-about{
    width: 1140px;
    height: 550px;
    background-color: #FFF8F3;  
    margin: 130px 230px;
    align-items: center;
    position: relative;
} 

#inndr-about{
    position: absolute;
    height: 288px;
    width: 827px;
    max-width: 827px;
    margin: 131px 157px;
    text-align: center;
}

.about{
    font-weight: bold;
    font-size: 35px;
    color: #181818;
    margin-bottom: 30px;
}

.paragroph1{
    color: #757575;
    line-height: 30px;
    font-size: 18px;
    margin-bottom: 30px;
    
}
#about-info{
    display: flex;
    justify-content: space-around;
}

.card p p p p{
    font-size: 20px;
    line-height: 30px;
    font-weight: regular;
}

.card h3 h3 h3 h3{
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    color: #181818;
}