* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared styles */
.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.btn {
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

/* Main styles */
#header {
    background-color: #FFF8F3;
    padding-top: 50px;
    background-image: url(images/developer.png), url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: left top, right bottom;
    height: 837px;
}

nav {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

nav #logo h2 {
    font-family: sans-serif;
    font-size: 45px;
    font-weight: 900;
}

.color-orange {
    color: #FD6E0A;

}

.menu {
    list-style: none;
    display: flex;
    gap: 51px;
    align-items: center;
}

.menu li a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #474747;
}

#benar {
    margin: 46px 38px 0 230px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.benar-content {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

.benar-name {
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

.paragroph {
    width: 585px;
    height: 60px;
    font-size: 18px;
    /* font-weight: regular; */
    color: #474747;
    margin-bottom: 30px;
    line-height: 30px;

}

.dicon {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    vertical-align: middle;
    fill: wheat;
    filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(203deg) brightness(11649%) contrast(119%);
}

.divsection {
    width: 585px;

}

.benar-img {
    height: 584px;
    vertical-align: middle;
}

#outer-about {
    height: 550px;
    background-color: #FFF8F3;
    margin: 130px 230px;
    align-items: center;
    display: flex;
    justify-content: center;
}

#inndr-about {
    height: 288px;
    max-width: 827px;
    margin: 131px 157px;
    text-align: center;
}

.about {
    font-weight: bold;
    font-size: 35px;
    color: #181818;
    margin-bottom: 30px;
}

.paragroph1 {
    color: #757575;
    line-height: 30px;
    font-size: 18px;
    margin-bottom: 30px;

}

#about-info {
    display: flex;
    justify-content: space-around;
}

.card p p p p {
    font-size: 20px;
    line-height: 30px;
    font-weight: regular;
}

.card h3 h3 h3 h3 {
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    color: #181818;
}

#skillSection {
    height: 855px;
    text-align: center;
}

#skillContainer {
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 130px;

}

#skillConainerDiv {
    width: 827px;
    height: 168px;
    margin: 0 auto 50px;
}

#skillConainerDiv #skillHeading {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}

#skillParagroph {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    padding-bottom: 50px;
}

#skillSection #skillConainer #cardContainer {
    width: 71%;
    max-width: 1140px;
    height: 377px;
    display: flex;
    gap: 24px;
    justify-content: space-around;
    margin: 0 auto;
    text-align: left;

}

#skillSection #skillConainer #cardContainer div {
    width: 267px;
    height: 377px;
    padding: 30px;
    box-shadow: 5px 5px 38px -6px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 5px 5px 38px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 38px -6px rgba(0, 0, 0, 0.75);
}

#skillSection #skillConainer #cardContainer div:hover {
    cursor: pointer;
    box-shadow: 5px 5px 50px -6px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 5px 5px 50px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 50px -6px rgba(0, 0, 0, 0.75);
}

#skillSection #skillConainer #cardContainer div img {
    max-width: 44px;
    margin-bottom: 30px;
}

#skillSection #skillConainer #cardContainer div h3 {
    font-size: 20px;
    font-weight: bold;
    color: #757575;
    margin-bottom: 20px;
}

#skillSection #skillConainer #cardContainer div p {
    font-weight: 16px;
    line-height: 28px;
    color: #757575;
    font-weight: regular;
}

.resome {
    height: 911px;
    text-align: center;
    margin-bottom: 30px;
}

.resome .resome-container {
    max-height: 716px;
    max-width: 1140px;
    margin: 0 auto;
}

.resome .resome-container .resome-heading {
    width: 455px;
    height: 48px;
    color: #181818;
    font-size: 30px;
    margin: 0 auto;
    margin-bottom: 113px;
}

.resome .resome-container .resomedetails {
    display: flex;
    justify-content: space-around;
    text-align: left;
    gap: 24px;
}

.resome .resome-container .resomedetails .myEducation h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.resome .resome-container .resomedetails .myEducation div {
    width: 511px;
    height: 175px;

}

.resome .resome-container .resomedetails .myEducation h3 {
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;
}

.resome .resome-container .resomedetails .myEducation h4 {
    margin-bottom: 20px;
    clear: #757575;
    font-weight: semi-bold;
    font-weight: 20px;


}

.resome .resome-container .resomedetails .myEducation p {
    font-size: 18px;
    line-height: 28px;
    color: #757575;
    margin-bottom: 30px;

}

.myExperience h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.myExperience div {
    width: 511px;
    height: 175px;

}

.myExperience h3 {
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;
}

.myExperience h4 {
    margin-bottom: 20px;
    clear: #757575;
    font-weight: semi-bold;
    font-weight: 20px;


}

.myExperience p {
    font-size: 18px;
    line-height: 28px;
    color: #757575;
    margin-bottom: 30px;

}

.footer {
    background-color: #FFF8F3;
    height: 780px;
    text-align: center;
    display: flex;
    align-items: center;
}

.footerContainer {
    height: 520px;
    max-width: 1140px; 
    margin: auto;
    display: flex;
    justify-content: space-between;
    text-align: left;
    gap: 117px;
}

.footerContainer div h1 {
    font-weight: bold;
    font-size: 35px;
    color: #181818;
    margin-bottom: 20px;
}

.footerContainer div {
    height: 56px;
    font-weight: regular;
    font-size: 16px;
    color: #474747;
}

.footerContainer ul {
    margin-top: 30px;
    display: flex;
}

.footerContainer ul li {
    list-style: none;
    margin-right: 24px;
}

.massagebox h2 {
    font-weight: bold;
    font-size: 35px;
    color: #181818;
    margin-bottom: 28px;

}

.massagebox form input[type="text"] {
    width: 461px;
    height: 64px;
    font-weight: bold;
    font-size: 16px;
    color: #181818;
    margin-bottom: 24px;

}

.massagebox form input[type="email"] {
    width: 461px;
    height: 64px;
    font-weight: bold;
    font-size: 16px;
    color: #181818;
    margin-bottom: 24px;

}

.massagebox form textarea {
    width: 461px;
    height: 180px;
    font-weight: bold;
    font-size: 16px;
    color: #181818;
    margin-bottom: 24px;
}

.massagebox form button {
    display: block;
}
.margin {
    margin-top: 50px;
}